.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.scripts {
  display: flex;
  flex-direction: column;
}

.link {
  font-size: larger;
  text-align: center;
  background-color: #123;
  padding: 10px;
}

.connections {
  display: flex;
  flex-direction: column;
}
